APP_ENV=development
HTTP_PORT=8081
DATABASE_URL=postgres://postgres:postgres@localhost:5432/nina_dental?sslmode=disable
REDIS_URL=redis://localhost:6379/0
XENDIT_API_KEY=
XENDIT_WEBHOOK_VERIFICATION_TOKEN=
XENDIT_BASE_URL=https://api.xendit.co
